body {
  font-family: "Poppins", sans-serif;
  background-image: url("/images/foryou-background.jpg");
  background-color: #010102;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.text-navbar {
  color: #e2f9eb;
  font-size: 23px;
}

.text-navbar:hover {
  color: #3fd57d;
}

.navbar-nav li.nav-item:hover {
  color: white;
}

.navbar-brand:hover {
  color: #cdf47f;
}

.navbar-nav li.nav-item:hover a.nav-link {
  color: #3fd57d;
}

#green {
  color: #abedc7;
}

.icon-text {
  font-weight: 600;
  font-size: 30px;
  color: aliceblue;
}

#icon-name {
  color: #3fd57d;
}

.foryou-page {
  margin: 200px 0px 0px 100px;
  height: 40vh;
  width: 100vh;
}

.foryou-h2 {
  color: aliceblue;
  font-size: 50px;
}

#foryou-message {
  color: aliceblue;
  font-size: 30px;
}

.button-page {
  font-size: 50px;
}

@media only screen and (max-width: 810px) {
  .foryou-page {
    margin: 40px 0px 0px 30px;
    height: 20vh;
    width: 40vh;
  }

  #foryou-message {
    color: aliceblue;
    font-size: 15px;
  }

  .foryou-h2 {
    color: aliceblue;
    font-size: 25px;
  }

  .button-page {
    font-size: 12.5px;
  }
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  border: 4px solid #3fd57d;
  animation: loader 2s infinite ease;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
