.wide-container {
    max-width: 90%;
    margin-top: 50px;
    /* Adjust as needed */
}

.highlight {
    color: #3fd57d;
}

body {
    background-color: #020805;
}

.PopText {
    font-size: 1.5em;
    color: #fff;
    font-family: Poppins;
    font-weight: 300;
    margin-bottom: 0px;
    /* Adjust as needed */
}

.background {
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image {
    position: relative;
    z-index: 1;
}

.info {
    position: absolute;
    top: 0;
    left: -20px;
    width: calc(100% + 20px);
    height: 100%;
    background: linear-gradient(0deg, #3fd57d 30%, rgba(0, 0, 0, 0) 100%);
    color: #000000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    margin-left: 20px;
    animation: glow 2s infinite;
}

.info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #00ff6a 30%, rgba(0, 0, 0, 0) 100%);
    filter: blur(10px);
    opacity: 0.7;
    z-index: -1;
}

.col-sm-2-4 {
    width: calc(100% / 12 * 2.4);
}

.splide__slide:hover .background .info {
    transform: translateY(0);
    /* Show the film information */
}

.custom-button {
    background-color: transparent;
    color: #abedc6;
}

.splide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.splide__slide:hover img {
    transform: scale(1.1) translateY(-50px);
}

.splide__arrow {
    opacity: 0.5;
    background-color: #020805 !important;
    /* Make the buttons transparent */
    border: solid !important;
    /* Remove the border */
    color: #ffffff !important;
    /* Change the color of the text */
    font-size: 20px !important;
    /* Adjust the size of the text */
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.splide__arrow:hover {
    background-color: #3fd57d !important;
    /* Change the background color when hovered */
    border-color: #3fd57d !important;
    /* Change the border color when hovered */
}

.card {
    background-color: #0a100d;
    /* Change the background color */
    border-color: #0a100d;
    /* Change the border color */
}

.card .card-title {
    color: #e1f9ea;
    /* Change the title color */
}

.card .card-text {
    color: #e1f9ea;
    /* Change the text color */
}

.card .btn {
    background-color: #abedc6;
    /* Change the button color */
    border-color: #abedc6;
    /* Change the button border color */
    color: #000000;
}